//Header component
.header {
    background-color: var(--white-color);
    padding: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;
    border-bottom: 0.1px solid #8f92a12f;
}

.logo {
    height: 9rem;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 3rem;
        margin-left: 5rem;
    }

    &__cta {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }
}

.main-nav__link:link,
.main-nav__link:visited {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s ease;
    cursor: pointer;
}

.main-nav__link.active {
    color: var(--primary-color);
}

.main-nav__link:hover,
.main-nav__link:active {
    color: var(--primary-color);
}

.nav-cta-light:link,
.nav-cta-light:visited {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    padding: .85em 2em;
    border-radius: 6px;
    display: inline-block;
}

.nav-cta-light:hover,
.nav-cta-light:active {
    filter: brightness(.9);
}

.nav-cta-dark:link,
.nav-cta-dark:visited {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .85em 1.55em;
    border-radius: 6px;
    display: inline-block;
}

.nav-cta-dark:hover,
.nav-cta-dark:active {
    filter: brightness(.9);
}

//Signup and login header
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        width: 20rem;
    }
}

.user-nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-width: 17rem;

    &__initials {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--text-color);
        padding: 1em;
        background-color: #ECD348;
        display: flex;
        border-radius: 50%;
    }

    &__name {
        display: block;
        font-size: 1.5rem;
        color: var(--text-color);
        width: 100%;
    }
}